<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Controller</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
</head>
<body ng-controller="nameControl">
    First Name:<input ng-model="firstName" type="text"/>
    <br>
    Last Name:<input ng-model="lastName" type="text"/>
    <br>
    Hello {{ firstName }} {{ lastName }}!

<script>
    function nameControl($scope){
        $scope.firstName = 'Pramod';
        $scope.lastName = 'Bhoi';
    }
</script>
</body>
</html>